<div class="card widget">
  <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcloud.js') %>"></script>
  <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcanvas.js') %>"></script>
  <div class="card-content">
      <h3 class="menu-label">
          <%= __('widget.tag_cloud') %>
      </h3>
      <div id="myCanvasContainer" class="widget tagcloud">
        <canvas width="360" height="320" id="resCanvas" style="width:100%">
          <%- tagcloud() %>
        </canvas>
      </div>
  </div>
</div>
