.ins-section-container {
    position: relative;
    background: #f7f7f7;
}

.ins-section {
    font-size: 14px;
    line-height: 16px;
}

.ins-section .ins-section-header, .ins-section .ins-search-item {
    padding: 8px 15px;
}

.ins-section .ins-section-header {
    color: #9a9a9a;
    border-bottom: 1px solid #e2e2e2;
}

.ins-section .ins-slug {
    margin-left: 5px;
    color: #9a9a9a;
}

.ins-section .ins-slug:before {
    content: '(';
}

.ins-section .ins-slug:after {
    content: ')';
}

.ins-section .ins-search-item header, .ins-section .ins-search-item .ins-search-preview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ins-section .ins-search-item header .ins-title {
    margin-left: 8px;
}

.ins-section .ins-search-item .ins-search-preview {
    height: 15px;
    font-size: 12px;
    color: #9a9a9a;
    margin: 5px 0 0 20px;
}

.ins-section .ins-search-item:hover, .ins-section .ins-search-item.active {
    color: #fff;
    background: #3273dc;
}

.ins-section .ins-search-item:hover .ins-slug, .ins-section .ins-search-item.active .ins-slug, .ins-section .ins-search-item:hover .ins-search-preview, .ins-section .ins-search-item.active .ins-search-preview {
    color: #fff;
}

/* 重定义布局样式 */
.section {
  margin: auto;
  padding: 10px 0 10px 8px;
  background: url(/blog/images/background/others/11.jpg) no-repeat 100%;
  background-size:cover;
  background-color: #8fb8c5;
  /* background-repeat: no-repeat; */
  background-attachment:fixed;
  /* background-position:50% 50%; */
  opacity: 0.8;
  filter:alpha(opacity=80);
}

.navbar-main {
  background-color: rgb(36, 41, 46);
  color: white;
  opacity: 1;
}

.navbar-logo > img {
  background-color: inherit;
}
.navbar-menu, .navbar-item {
  background-color: inherit;
  color: #f7f7f7;
}

.column-main {
  /* width: 70% !important; */
  margin: 0;
  padding: 10px 0 !important;
}

/* .column-right {
  width: 27% !important;
} */
.column-left {
  /* width: 22% !important; */
  overflow:hidden;
  text-overflow:ellipsis;
}

.card.card-transparent, .pagination {
  margin: 0 0 -3.5px 0;
  padding: 0;
}

.pagination-list {
  margin: 3.5px 0;
  padding: 0;
}
.footer {
  width: 100%;
  height: 5em;
  margin: auto 0 !important;
  padding: 10px 0 10px 10px !important;
  background-color: rgb(36, 41, 46);
  color: white;
  opacity: 1;
}

.level-start > .footer-logo > img {
  background-color: inherit;
}
.level-end > .field > .control > .button > i {
  background-color: inherit;
  color: #f7f7f7;
}

/* 侧边栏头像 */
figure > img {
  margin: 0;
  padding: auto;
  display: inline-block;
  /* 头像圆形 */
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  box-shadow: inset 0 -1px 0 #333sfs;
  /* 鼠标经过头像旋转360度 */
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}

img:hover {
  /* 鼠标经过停止头像旋转
  -webkit-animation-play-state:paused;
  animation-play-state:paused;*/
  /* 鼠标经过头像旋转360度 */
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

/* 文章目录 */
.is-flex {
  margin: 0;
  padding: 5px 3px !important;
}

.post-copyright {
  margin: 0em 0em 0em 0em;
  padding: 0.5em 1em;
  border-left:3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
  font-size: 14px;
}